<div class="container">
  <nav>
    <ul>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/login">Login</a></li>

    </ul>
  </nav>
  <h1> Welcome to Destiny's Child ( ft. Flash Cards )</h1>
  <ul>
  <% @decks.each do |deck| %>
    <li><a href="/decks/<%= deck.id %>"><%= deck.title %></a> - Created by <%= deck.user.username %></li>  
  <% end %>
  </ul>

 </div>
