<div class="container">

  <ul>
    <li><a href="/users/new"> Sign Up </a></li>
    <li><a href="/"> Homepage </a></li>
  </ul>

  <h1> Login</h1>
  <%= erb :'_errors' %>

    <form action="/login" method="post">

      <label for="username">Username:</label>
      <input type="text" name="user[username]" />

      <label for="password">Password:</label>
      <input type="password" name="user[password]" />

      <input type="submit" value="Login" />
    </form>
</div>
